  .main-header {
  color: rgb(0, 162, 255);
  text-align: center;
  font-family: 'Arial';
}

$primary-color: #272727;

.logo{
  position: fixed;
  left: 0;
  right: 15rem;
  margin-right: 10vw;
  margin-left: 70vw;
  width: 30%;
}


.menu-nav {
  position: fixed;
  display: flex;
  bottom: 0.5rem;
  width: 90vw;
  border: 2px solid;
  text-align: center;
  overflow: visible;
  background: #fff;
  justify-content: space-evenly;
  
  &__item {
    list-style: none;
    display: flex;
    padding: 2rem;
  }
  &__link {
    font-family: 'Arial';
    color:rgb(0, 184, 245);
    
  }
}