.main-header {
  color: rgb(0, 162, 255);
  text-align: center;
  font-family: 'Arial';
}

$primary-color: #272727;

.logo{
  position: fixed;
  left: 0;
  right: 15rem;
  margin-right: 10vw;
  margin-left: 70vw;
  width: 30%;
}


.menu-nav {
  position: fixed;
  display: block;
  bottom: 0.5rem;
  width: 90vw;
  border: 2px solid;
  text-align: center;
  overflow: visible;
  background: #fff;
  
  &__item {
    
    display: inline-block;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 1rem;
    padding-left: 1rem;
    align-items: center;
    justify-content: center;
  }
  &__link {
    font-family: 'Arial';
    color:rgb(0, 184, 245);
  }
}